<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>519600834115-lk2lmd57jaauansk97pujaosh2hlal2u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.519600834115-lk2lmd57jaauansk97pujaosh2hlal2u</string>
	<key>API_KEY</key>
	<string>AIzaSyDAQela_89V02l7MW-Tc4yWKj0j417ibrU</string>
	<key>GCM_SENDER_ID</key>
	<string>519600834115</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.manev.mikhail.TheFinalApp</string>
	<key>PROJECT_ID</key>
	<string>thefinalapp-d4667</string>
	<key>STORAGE_BUCKET</key>
	<string>thefinalapp-d4667.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:519600834115:ios:e6ae9571f76e59a1a036f6</string>
	<key>IS_MEASUREMENT_ENABLED</key>
	<false/>
</dict>
</plist>
